/* Made by default for extra small devices with max-width of a screen lower than 576px */

/* The main grid of the whole page */
body{
    display: grid;
    text-align: center;
    padding: 11px;
    row-gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "headerarea"
    "heroarea" 
    "bodyarea" 
    "footerarea";
    background-color: aquamarine;
}

/* The grid of the header area */
header{
    display: grid;
    padding-top: 26px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 13px;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto auto;
    grid-area: headerarea;
    column-gap: 12px;
    row-gap: 5px;
    grid-template-areas:
    "brandarea brandarea"
    "globalnavigation navtools";
}

/* Brand section */
header .brand{
    grid-area: brandarea;
}

/* Global navigation section */
header .globalnav{
    grid-area: globalnavigation;
}

header .globalnav ul {
    position: static;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    border: 2px solid black;
    background-color: beige;
}

header .globalnav ul li a {
    display: block;
    color: black;
    padding: 2px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-decoration: none;
}

header .globalnav ul li:hover {
    background-color: green;
    color: yellow;
    transition: transform .2s;
    box-shadow: 9px 9px;
    transform: scale(1.1);
}

/* Tools section */
header .tools{
    grid-area: navtools;
}

header .tools input[type=text]{
    position: static;
    display: block;
    text-align: center;
    border: none;
    font-size: 15px;
}

/* Hero area grid */
.hero{
    display: grid;
    grid-area: heroarea;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 11px;
    grid-template-areas:
    "herocalltoaction"
}

/* Hero feature section - hidden on extra small screens, visible on small and large screens */
.hero .herofeature{
    display: none;
}

/* Action call section */
.hero .actioncall{
    grid-area: herocalltoaction;
}

/* A placeholder for the desktop advert, intended to show up only on large screens */
.adver2{
    display: none;
}

.adver2 img{
    display: none;
}

/* The grid of the article body area */
main{
    grid-area: bodyarea;
    display: grid;
    row-gap: 7px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "artfeature"
    "advert"
    "artlisting";
}

/* Article feature section */
main .articlefeature{
    grid-area: artfeature;
}

/* Advert section */
main .adver{
    background-color: white;
    grid-area: advert;
}

main .adver img{
    width: 50%;
    height: auto;
}

/* Article listing section */
main .articlelisting{
    grid-area: artlisting;
}

/* Sidebar grid - hidden on extra small screens, visible on small and large screens */
aside{
    display: none;
}
aside .sidebarfeature{
    display: none;
}

/* Footer grid - hidden on extra small screens, visible on small and large screens */
footer{
    display: grid;
    grid-area: footerarea;
}

/*  Small devices  */
@media screen and (min-width: 576px) {
body{
    padding: 13px;
    row-gap: 9px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "headerarea"
    "heroarea" 
    "bodyarea" 
    "sidebararea"
    "footerarea";
}

header{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 12px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 28px;
    grid-area: headerarea;
    grid-template-areas:
    "brandarea globalnavigation navtools";
}

header .brand{
    grid-area: brandarea;
}

header .globalnav{
    grid-area: globalnavigation;
}

header .tools{
    grid-area: navtools;
}

.hero{
    grid-area: heroarea;
    grid-template-rows: auto auto;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    row-gap: 6px;
    grid-template-areas:
    "hfeature"
    "herocalltoaction";
}

.hero .herofeature{
    grid-area: hfeature;
    display: block;
}

.hero .actioncall{
    grid-area: herocalltoaction;
}

main{
    row-gap: 12px;
    column-gap: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 10px;
    grid-area: bodyarea;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "artfeature advert"
    "artlisting artlisting";
}

main .articlefeature{
    grid-area: artfeature;
}

main .adver{
    grid-area: advert;
}

main .adver img{
    width: 100%;
    height: auto;
}

main .articlelisting{
    grid-area: artlisting;
}

aside{
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 7px;
    grid-area: sidebararea;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: grid;
    grid-template-areas:
    "sfeature"
}
aside .sidebarfeature{
    display: block;
    grid-area: sfeature;
}

footer{
    grid-area: footerarea;
}
}

/* Large devices  */
@media screen and (min-width: 992px) {
body{
    padding: 20px;
    row-gap: 9px;
    column-gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "headerarea headerarea headerarea headerarea"
    "heroarea heroarea heroarea advert" 
    "bodyarea bodyarea bodyarea sidebararea" 
    "footerarea footerarea footerarea footerarea";
}

header{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 10px;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-area: headerarea;
    grid-template-areas:
    "brandarea globalnavigation navtools";
}

header .brand{
    grid-area: brandarea;
}

header .globalnav{
    grid-area: globalnavigation;
}

header .tools{
    grid-area: navtools;
}

.hero{
    grid-area: heroarea;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 7px;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "hfeature herocalltoaction";
}

.hero .herofeature{
    grid-area: hfeature;
    display: block;
}

.hero .actioncall{
    grid-area: herocalltoaction;
}

.adver2{
    display: grid;
    grid-area: advert;
    background-color: white;
}

.adver2 img{
    display: block;
    width: 100%;
    height: auto;
}

main{
    column-gap: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 8px;
    grid-area: bodyarea;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "artfeature artlisting";
}

main .articlefeature{
    grid-area: artfeature;
}

main .articlelisting{
    grid-area: artlisting;
}

main .adver{
    display: none;
}

main .adver img{
    display: none;
}

aside{
    grid-area: sidebararea;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 7px;
    column-gap: 12px;
    row-gap: 5px;
    display: grid;
    grid-template-areas:
    "sfeature"
}
aside .sidebarfeature{
    display: block;
    grid-area: sfeature;
}

footer{
    grid-area: footerarea;
}
}